@model diukin_test.ViewModels.PlayerViewModel
@{
    ViewData["Title"] = "Каталог футболистов 3.0";
}

<div class="center_block">
    <div class="col-md-12 content nopadding">
        <h1 class="randomText margin-top-5-rem">Каталог футболистов 3.0</h1>
        <p>
            На данной странице вы можете пополнить каталог футболистов, заполнив форму ниже.<br>Для просмотра списка
            футболистов воспользуйтесь кнопкой "Переключиться" в верхней части экрана.
        </p>
        <div class="col-md-12 content no-padding">
            <form id="contact" class="padding33" asp-action="Index" method="post">
                <input asp-for="AllTeams" type="hidden" />
                <div class="form-group">
                    <input asp-for="Name" id="name" class="form-control" placeholder="Имя" autocomplete="off" required>
                    <input asp-for="Surname" id="surname" class="form-control" placeholder="Фамилия" autocomplete="off"
                           required>
                    <select asp-for="Gender" id="gender" class="form-control" required>
                        <option value="@Gender.Male" selected>Пол: мужской</option>
                        <option value="@Gender.Female">Пол: женский</option>
                    </select>
                    <input type="text" asp-for="Team" id="team" class="form-control" list="_team"
                           placeholder="Название команды" autocomplete="off" required>
                    <datalist id="_team">
                        @foreach (var team in Model.AllTeams ?? new List<string>()) { <option>@team</option> }
                    </datalist>
                    <select asp-for="Nation" id="nation" class="form-control" required>
                        <option class="blackColor" value="Россия" selected>Национальность: Россия</option>
                        <option class="blackColor" value="США">Национальность: США</option>
                        <option class="blackColor" value="Италия">Национальность: Италия</option>
                    </select>
                    <input asp-for="Birthdate" id="birthdate" type="text" class="form-control"
                           onfocus="(this.type='date')" onblur="if(this.value == '') { this.type = 'text' }"
                           placeholder="Дата рождения" max='@DateTime.Now.ToString("yyyy-MM-dd")' required><br>
                    <button id="sendButton" class="btn btn-1 col-md-12 col-xs-12">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/signalr.min.js"></script>
<script src="~/js/input_signalR.js"></script>