@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(custom-glyphs.css);

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

    a:focus {
        outline: thin dotted;
    }

    a:active,
    a:hover {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

button,
input,
select {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    tr {
        page-break-inside: avoid;
    }

    @page {
        margin: 2cm .5cm;
    }

    p {
        orphans: 3;
        widows: 3;
    }

    select {
        background: #fff !important;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .table {
        border-collapse: collapse !important;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #428bca;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #2a6496;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

p {
    margin: 0 0 10px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

.col-xs-12, .col-sm-12, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {

    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {

    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }
}

table {
    max-width: 100%;
    background-color: transparent;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

    .table > tbody > tr > th,
    .table > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control:-moz-placeholder {
        color: #999999;
    }

    .form-control::-moz-placeholder {
        color: #999999;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999999;
    }

.form-group {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn:hover, .btn:focus {
        color: #333;
        text-decoration: none;
    }

    .btn:active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@-ms-viewport {
    width: device-width;
}

/**
 * ==========================
 * Animations
 */

/**
 * ==========================
 * JS animation styles
 */

/**
 * ==========================
 * CSS animation styles
 */

/**
 * ==========================
 * Arrows
 *
 */

/**
 * ==========================
 * For demo purposes only
 */

/* ========== Cube Loader ========== */
/******************* PRELOADER 6 **********
*******************************************/
/* button reset */
.btn {
    border: 1px solid #fff;
    margin: 0 auto;
    display: block;
    float: none;
    border-radius: 0;
    font-family: "Montserrat";
    text-transform: uppercase;
    padding: 18px 22px;
    color: #fff;
    margin-bottom: 130px;
    font-weight: bold;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    background: none;
    position: relative;
}

@media only screen and (min-width: 1024px) and (max-width: 1170px) {
    .btn {
        width: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .btn {
        width: 30%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .btn {
        width: 85%;
        margin-bottom: 50px;
    }
}

.btn:after {
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1c */
.btn-1c:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
    color: #121214;
}

    .btn-1c:hover:after,
    .btn-1c:active:after {
        width: 100%;
        background: #fff;
    }

.btn:before {
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* End */

.top-link {
    display: block;
    position: relative;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

    .top-link:focus {
        outline: none;
    }

    .top-link:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
    }

    .top-link span {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        color: #fff;
        font-family: "Montserrat";
        font-weight: 700;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
        letter-spacing: 3px;
    }

        .top-link span i {
            width: 10px;
            padding: 0 10px;
        }

.btn-1f:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover span,
.btn-1f:active span {
    color: #000;
}

.btn-1f:hover:after {
    height: 100%;
    opacity: 1;
}

.btn-1f:active:after {
    height: 130%;
    opacity: 1;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(26, 24, 29, 0.9);
}

@media (min-width: 767px) {
    body {
        margin: 0;
    }
}

.nopadding {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .nopadding {
        padding: 0 25px;
        overflow: hidden;
    }
}

#row {
    width: 100%;
    display: block;
    position: relative;
    float: none;
    height: 100vh;
    background-color: rgba(26, 24, 29, 0.9);
    overflow-y: auto;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    #row {
        background-color: transparent;
        overflow-y: scroll;
    }
}

#row .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

    #row .wrapper .content {
        height: 100%;
        display: block;
    }

    #row .wrapper .center_block {
        position: relative;
        width: 100%;
    }

@media only screen and (max-width: 767px) and (min-width: 320px) {
    #row .wrapper .center_block {
        background-color: rgba(26, 24, 29, 0.9);
    }
}

#row .wrapper .center_block h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    visibility: visible;
    position: relative;
    padding-top: 65px;
    letter-spacing: 8px;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    #row .wrapper .center_block h1 {
        font-size: 42px;
    }
}

#row .wrapper .center_block p {
    font-size: 17px;
    color: #a6a4a5;
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    line-height: 30px;
}

@media only screen and (min-width: 1024px) and (max-width: 1170px) {
    #row .wrapper .center_block p {
        padding-bottom: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #row .wrapper .center_block p {
        margin: 0 auto;
        padding: 80px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    #row .wrapper .center_block p {
        font-size: 14px;
    }
}

#row .wrapper .no-margin {
    margin: 0;
    position: fixed;
    z-index: 9;
    padding: 0;
    background-color: #121214;
}

    #row .wrapper .no-margin.top {
        width: 100%;
        top: 0;
        height: 50px;
    }

@media (max-width: 767px) {
    #row .wrapper .no-margin.top {
        display: none;
    }
}

#row .wrapper .inner-row {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

/* logo */

.mobile-view {
    display: block;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .mobile-view {
        display: none;
    }
}

/* Content styles */

/* Just me Effect */

#contact input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #48464a;
    border-radius: 0;
    outline: none;
    background: none;
    height: 45px;
    padding-top: 30px;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}

#contact .form-control.default {
    background: none;
    border: 0;
    border-bottom: 1px solid #48464a;
    border-radius: 0;
    outline: none;
    height: 60px;
    padding-top: 30px;
    font-family: "Playfair Display";
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}

#contact .form-control:focus {
    border-color: #48464a;
    box-shadow: none;
}

    #contact .form-control:focus::-webkit-input-placeholder {
        color: #fff;
    }

    #contact .form-control:focus::-moz-placeholder {
        color: #fff;
    }

    #contact .form-control:focus::-ms-input-placeholder {
        color: #fff;
    }

    #contact .form-control:focus:-o-input-placeholder {
        color: #fff;
    }

#contact .btn {
    margin-bottom: 50px;
}

.greyColor {
    color: #999999 !important;
}

.blackColor {
    color: black !important;
}

.margin-top-5 {
    margin-top: 5% !important;
}

.margin-top-5-rem {
    margin-top: 5rem !important;
}

.paddint-5-12 {
    padding: 5% 12% !important;
}

.td-set {
    text-align: center !important;
    border-color: rgba(255, 255, 255, 0.05) !important;
    border-width: 1px !important;  
}

.gray-transparent {
    color: rgba(255, 255, 255, 0.5) !important;
}

.r-border {
    text-align: center !important;
    border-top: none !important;
    border-bottom: 1px solid red !important;
    width: 14%;
}

.font-set {
    font-size: 16px;
    color: white;
}

